body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 50%;
    /* height:30vw; */
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #42A5F5;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #42A5F5;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #42A5F5;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #42A5F5;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #42A5F5;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    font-size:2rem;
    text-transform: uppercase;
    color: #42A5F5;
    padding: 60px 0;
    text-align: center;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  .nav-distance {
      padding:2.1% 7.7%;
  }

  .navbar-light .navbar-brand {
      font-family: NanumSquareR;
      line-height:1.68;
      text-align:left;
      color:#35465d;
  }

  .navbar-light .navbar-toggler {
      border-color: #ffffff;
  }

  .section {
      margin-top:100px;
  }

  .title {
      font-family: NanumSquareR;
      line-height: 1.67;
      text-align: center;
      color:#35465d;
  }

  .subtitle {
    font-family: NanumSquareR;
    line-height: 1.53;
    text-align: center;
    color:#35465d;
  }

  .youtube-link {
    font-size:1.5rem;
    font-family: NanumSquareR;
    line-height: 1.8;
    text-align: center;
    color:#f73737;
    text-decoration: underline;
  }

  .youtube-link:hover {
    font-size:1.5rem;
    font-family: NanumSquareR;
    line-height: 1.8;
    text-align: center;
    color:#f73737;
    text-decoration: underline;
  }

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
      font-size:10px;
    }
    .navbar-brand {
        font-size:2rem;
    }
  }




p {
    font-size: 14px;
}

.btn-primary{
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}

.cursor-pointer {
    cursor: pointer;
    color: #42A5F5;
}

.pic {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-block {
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px !important;
    background-color: #FAFAFA;
    margin-bottom: 30px;
}



.radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}


.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.radio.selected {
    box-shadow: 0px 8px 16px 0px #EEEEEE;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.selected {
    background-color: #E0F2F1;
}

.a {
    justify-content: center !important;
}


.btn {
    border-radius: 0px; 
}

.btn,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

#startBtn {
  width:50%;
  height:150px;
  border-radius: 10px; 
  margin:auto;
  display:block;
  font-size: 3rem;
}

.start_div {
  margin:auto;
  padding:20px;
}

.share {
  margin-top:10px;
  display:none;
}

#loading {
  display: none;
}

.loader{
  margin: 0 0 1em;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.svg path,
.svg rect{
  fill: #FF6700;
}