body {
    font-family: sans-serif;
    background-color: #ffffff;
  }

  .etc_img {
    width:100px;
    height:100px;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 70%;
    /* height:30vw; */
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #42A5F5;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #42A5F5;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #42A5F5;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #42A5F5;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #42A5F5;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    font-size:2rem;
    text-transform: uppercase;
    color: #42A5F5;
    padding: 60px 0;
    text-align: center;
  }
  
  .file-upload-image {
    max-height: 300px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }

  .result-image {
    max-height: 300px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    display: none;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  .nav-distance {
      padding:2.1% 7.7%;
  }

  .navbar-light .navbar-brand {
      font-family: NanumSquareR;
      line-height:1.68;
      text-align:left;
      color:#35465d;
  }

  .navbar-light .navbar-toggler {
      border-color: #ffffff;
  }

  .section {
      margin-top:100px;
  }

  .title {
      font-family: NanumSquareR;
      line-height: 1.67;
      text-align: center;
      color:#35465d;
  }

  .subtitle {
    font-family: NanumSquareR;
    line-height: 1.53;
    text-align: center;
    color:#35465d;
  }

  .youtube-link {
    font-size:1.5rem;
    font-family: NanumSquareR;
    line-height: 1.8;
    text-align: center;
    color:#f73737;
    text-decoration: underline;
  }

  .youtube-link:hover {
    font-size:1.5rem;
    font-family: NanumSquareR;
    line-height: 1.8;
    text-align: center;
    color:#f73737;
    text-decoration: underline;
  }

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
      font-size:10px;
    }
    .navbar-brand {
        font-size:2rem;
    }
  }




p {
    font-size: 14px;
}

.btn-primary{
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}

.cursor-pointer {
    cursor: pointer;
    color: #42A5F5;
}

.pic {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-block {
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px !important;
    background-color: #FAFAFA;
    margin-bottom: 30px;
}



.radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}


.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.radio.selected {
    box-shadow: 0px 8px 16px 0px #EEEEEE;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.selected {
    background-color: #E0F2F1;
}

.a {
    justify-content: center !important;
}


.btn {
    border-radius: 0px; 
}

.btn,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

#startBtn {
  width:80%;
  height:100px;
  border-radius: 10px; 
  margin:auto;
  display:block;
  font-size: 3rem;
}

.start_div {
  margin:auto;
  padding:20px;
}

.share {
  margin-top:10px;
  display:none;
}

#loading {
  display: none;
}

.loader{
  margin: 0 0 1em;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.svg path,
.svg rect{
  fill: #FF6700;
}



.clearfix, .clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
  zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;
}
.barGraph {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.graph {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: calc(96%);
  left: 4%;
}
.graph-barBack {
  border-radius: 2px;
  background: #DAE4EB;
  margin-bottom: 10px;
  display: block;
}
.graph-bar {
  background-color: #59BAC0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 9999;
  display: block;
  height: 100px;
  width: 0%;
}
.graph-legend {
  position: absolute;
  margin-right: 20px;
  left: -40px;
  z-index: 9999;
}
.chart {
  border-radius: 3px;
  border: 2px solid rgba(113,125,149,0.45);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.lines {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 0;
}
.lines-horz {
  border-bottom: 1px dashed rgba(113,125,149,0.4);
  position: absolute;
  width: 100%;
  height: 0px;
}
.lines-horz:nth-of-type(1) {
  top: 20%;
}
.lines-horz:nth-of-type(2) {
  top: 40%;
}
.lines-horz:nth-of-type(3) {
  top: 60%;
}
.lines-horz:nth-of-type(4) {
  top: 80%;
}
.lines-vert {
  border-right: 1px dashed rgba(113,125,149,0.4);
  position: absolute;
  height: 100%;
  width: 1px;
}
.lines-vert:nth-of-type(5) {
  left: 20%;
}
.lines-vert:nth-of-type(6) {
  left: 40%;
}
.lines-vert:nth-of-type(7) {
  left: 60%;
}
.lines-vert:nth-of-type(8) {
  left: 80%;
}
.lineChart {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 3px;
  border: 2px solid rgba(113,125,149,0.45);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.lineChart svg {
  position: absolute;
  z-index: 999;
}
.lineChart circle {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
  stroke: #59BAC0;
  stroke-width: 3;
  fill: #59BAC0;
}
.lineChart circle:hover {
  stroke-width: 8;
}
.lineChart line {
  stroke: #717D95;
  stroke-width: 4;
}
.trend line {
  stroke: rgba(204,51,51,0.8);
}
