* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
  }

body {
    font-family: sans-serif;
    background-color: #ffffff;
  }

  .etc_img {
    width:100%;
    max-width: 300px;
    max-height:300px;
    margin-bottom:10px;
  }
  
  .file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }

  .result-image {
    max-height: 300px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    display: none;
  }
  
  .section {
      margin-top:100px;
  }

  .title {
      font-family: NanumSquareR;
      line-height: 1.67;
      text-align: center;
      color:#35465d;
  }

  .subtitle {
    font-family: NanumSquareR;
    line-height: 1.53;
    text-align: center;
    color:#35465d;
  }

  #result-etc-image-list{
    margin-top:50px;
  }

  .etc_img_container{
    display: none;
    margin-bottom: 30px;
  }

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
      font-size:10px;
    }
    .navbar-brand {
        font-size:2rem;
    }
    .file-upload-image{
      max-height: 200px;
      max-width: 300px;
      margin: auto;
      padding: 20px;
    }
  }

p {
    font-size: 14px;
}

.pic {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-block {
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px !important;
    background-color: #FAFAFA;
    margin-bottom: 30px;
}

.radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.radio.selected {
    box-shadow: 0px 8px 16px 0px #EEEEEE;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}

.selected {
    background-color: #E0F2F1;
}

.a {
    justify-content: center !important;
}

.btn {
    border-radius: 0px; 
}

.btn,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.share {
  margin-top:10px;
  display:none;
}

#loading {
  display: none;
}

.loader{
  margin: 0 0 1em;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.svg path,
.svg rect{
  fill: #FF6700;
}

.wrap {
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;
}

.progress-pie-chart {
  position: relative;
}

.ppc-percents {
  content: "";
  position: absolute;
  text-align: center;
}

.percent {
  display: block;
  font-size: 3em;
  font-weight: bold;
  color: cadetblue;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: cadetblue;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css?family=Raleway");

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  display: block;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: cadetblue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #7fb1b3;
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.upload-options label::after {
  content: "add";
  font-family: "Material Icons";
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: "Material Icons";
  position: relative;
  font-size: 4.5em;
  color: #e6e6e6;
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}
.js--image-preview:nth-child(2) {
  background-image: url("http://bastianandre.at/giphy.gif");
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.btn {
  margin: 3px 0;
}

/* Button (defaults) */
.btn {
  min-width: 300px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: cadetblue;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  /* Hover */
  /* Pressed */
  /* Disabled */
  /* Small Buttons */
  /* large Buttons */
  /* Border */
  /* Pill */
  /* Icons */
  /* Reverse */
}
.btn:visited {
  color: #fff;
}
.btn:hover, .btn:focus, .btn.btn-hover {
  color: #fff;
  background-color: #7fb1b3;;
  text-decoration: none;
  outline: none;
}
.btn:disabled, .btn.btn-disabled {
  background-color: #7fb1b3 !important;
  border: 1px solid #7fb1b3 !important;
  color: #fff !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
  pointer-events: none !important;
  opacity: 0.8 !important;
}

.btn.btn-large {
  font-size: 20px;
  font-weight: normal;
  height: 70px;
  line-height: 50px;
  padding: 0 50px;
}

.resultbox {
    display: block;
    min-width: 300px;
    /* height: 300px; */
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.ad-banner {
  width:320px;
  margin:0 auto;
}